body{
    background-color: rgb(178, 180, 249);
}

.outer{
    display: flex;
    justify-content: space-evenly;
}
#container{
    border-radius: 5px;
    background-color: white;
    height: 500px;
    width: 500px;
    border: 3px solid black;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(54, 48, 120);
    border-radius: 5px;
    min-height: 100%;
    width: 275px;
    padding-top: 12px;
}

.slidecontainer{
    width: 85%;
}
.slider{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 15px;
}
.slider:hover{
    opacity: 1;
}
.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: #fd3030;
    cursor: pointer;
    border-radius: 50%;
}
.slider::-moz-range-thumb{
    width: 30px;
    height: 30px;
    background: #fd3030;
    cursor: pointer;
    border-radius: 50%;
}

.header{
    font-family: "Rubik Iso", serif;
    font-weight: 600;
    font-size: 60px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 45px;
}

.menu-header{
    font-family: "Rajdhani", serif;
    color: white;
}

.note{
    font-family: "Rajdhani", serif;
    color: rgb(255, 148, 148);
    text-align: center;
}

.colorPicker{
    width: 100%;
}

.toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin-bottom: -10px;
}

.toggle-pill-color input[type="checkbox"] {
    display: none;
  }
  .toggle-pill-color input[type="checkbox"] + label {
    margin-top: 15px;
    display: block;
    position: relative;
    width: 3em;
    height: 1.6em;
    margin-bottom: 20px;
    border-radius: 1em;
    background: #e84d4d;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
  }
  .toggle-pill-color input[type="checkbox"] + label:before {
    content: "";
    display: block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 1em;
    background: #fff;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .toggle-pill-color input[type="checkbox"]:checked + label {
    background: #47cf73;
  }
  .toggle-pill-color input[type="checkbox"]:checked + label:before {
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    left: 1.6em;
  }